body {
	background-color: #ffffff;
	color: #101010;
	font-size: 14px;
	font-weight: 400;
}
.header .container-logo {
  background-color: #12346f;
}
/* Internal url */
a.admin-logo {
  background: url(/images/Logo_long_shadow_250.png) no-repeat;
  text-indent: -999em;
}
/* External URL */
/* Internal url */
@media (max-width: 991px) {
  a.admin-logo-sm {
    background: url(/images/Logo_long_150.png) no-repeat;
  }
}
/* External URL */
a {
	color: #163f87;
}
a:hover, a:focus, a:active {
	color: #303030;
}
/* common style */
h1, h2, h3, h4, h5, h6 {
}
/* JOOMLA STYLE
--------------------------------------- */
h2.item-title,
.item-title h2,
.item-page .page-header h2 {
}
.items-row .item {
	font-size: 14px;
}
/* Header */
.header {
	background-color: #12346f;
	color: #ffffff;
}
.header .container-logo {
}
.header .nav-user > li > a {
	color: #ffffff;
}
.header .nav-user > li > a:hover, 
.header .nav-user > li > a:focus, 
.header .nav-user > li > a:active {
	color: #ffffff;
}
.header .container-title h1 {
	color: #ffffff;
}
.header .search input,
.header .search .btn {
  background: #274f95;
  border-color: #274f95;
  color: #87a0ce;
}
/* Main navigation */
.sidebar {
	background-color: #163f87;
	border-color: #1e478e;
}
.sidebar #menu > li > a,
.sidebar #vm-menu > li > a,
.sidebar #ja-builder-menu > li > a
#sidebar #menu > li > a {
	color: #87a0ce;
	border-bottom-color: #1e478e;
}
.sidebar #menu > li > a .caret,
.sidebar #vm-menu > li > a .caret,
.sidebar #ja-builder-menu > li > a .caret,
#sidebar #menu > li > a .caret {
  border-top-color: #87a0ce;
  border-bottom-color: #87a0ce;
}
.sidebar #menu > li.active > a,
.sidebar #vm-menu > li.active > a, 
.sidebar #ja-builder-menu > li.active > a, 
#sidebar #menu > li.active > a {
	color: #ffffff;
}
.sidebar #menu > li > a:hover,
.sidebar #menu > li > a:focus,
.sidebar #menu > li > a:active,
.sidebar #vm-menu > li > a:hover,
.sidebar #vm-menu > li > a:focus,
.sidebar #vm-menu > li > a:active,
.sidebar #ja-builder-menu > li > a:hover,
.sidebar #ja-builder-menu > li > a:focus,
.sidebar #ja-builder-menu > li > a:active,
#sidebar #menu > li > a:hover,
#sidebar #menu > li > a:focus,
#sidebar #menu > li > a:active {
  background-color: #153b7f;
	color: #ffffff;
}
/* Dropdown menu */
.sidebar #menu > li > a + .dropdown-menu,
.sidebar #vm-menu > li > a + .dropdown-menu, 
.sidebar #ja-builder-menu > li > a + .dropdown-menu, 
#sidebar #menu > li > a + .dropdown-menu {
  background: #12346f;
}
.sidebar #menu > li > a + .dropdown-menu > li > a, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a, 
.sidebar #ja-builder-menu > li > a + .dropdown-menu > li > a, 
#sidebar #menu > li > a + .dropdown-menu > li > a {
	color: #87a0ce;
}
.dropdown-menu > .active > a {
  background: #12346f;
  color: #ffffff;
}
.sidebar #menu .dropdown-menu > .dropdown-submenu:hover > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #menu .dropdown-menu > .dropdown-submenu:focus > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:focus > a,
.sidebar #menu .dropdown-menu > .dropdown-submenu:active > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:active > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #ja-builder-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #ja-builder-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #ja-builder-menu .dropdown-menu > .dropdown-submenu:hover > a {
  background: #12346f;
  color: #ffffff;
}
.sidebar #menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
.sidebar #vm-menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
.sidebar #ja-builder-menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
#sidebar #menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
  background: #12346f;
  color: #ffffff;
}
.sidebar #menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover,
.sidebar #ja-builder-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #ja-builder-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #ja-builder-menu > li > a + .dropdown-menu > li > a:hover,
#sidebar #menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #menu > li > a + .dropdown-menu > li > a:focus, 
#sidebar #menu > li > a + .dropdown-menu > li > a:focus, 
.sidebar #menu > li > a + .dropdown-menu > li > a:active, 
#sidebar #menu > li > a + .dropdown-menu > li > a:active {
	background-color: #12346f;
	color: #ffffff;
}
@media (max-width: 1199px) {
  .navbar-horizontal .admin-container-fluid > .sidebar #menu > li > a {
    border-bottom-color: #1e478e;
  }
}
/* Search form */
.header .search input,
.header .search .btn {
	color: #87a0ce;
}
.header .search input:focus {
	color: #87a0ce;
}
.header .search .search-result > ul {
}
/* Status
--------- */
#status {
	background: #e0e0e0;
	border-color: #d4d4d4;
	color: #626262;
}
#status .btn-toolbar {
	background: #e0e0e0;
}
#status a {
	color: #626262;
}
#status a:hover, #status a:focus, #status a:active {
	color: #626262;
}
#status .nav > li::before {
	color: #626262;
}
/* LOGIN PAGE
--------------------------------------- */
.view-login {
	background-color: #163f87;
}
.view-login .navbar-fixed-bottom {
}
.view-login .navbar-fixed-bottom a {
}
.view-login .navbar-fixed-bottom a:hover,
.view-login .navbar-fixed-bottom a:focus,
.view-login .navbar-fixed-bottom a:active {
}
/* Internal url */
/* External URL */
.view-login .login-logo {
	background: url(/images/Logo_long_shadow_250.png) no-repeat top center;
}
/* Login form */
.view-login #form-login .btn-block {
  background: #163f87;
  color: #87a0ce;
}
.view-login #form-login .btn-block:hover {
  background: #153b7f;
  color: #ffffff;
}
/*i am designer i started work form here*/
/*comunity component custom css*/
/*siderbar css start*/
.header {
    background-color: #232324;
    color: #ffffff;
}
.header .container-logo {
    background-color: #232324;
}
.sidebar .sidebar-title{
    display:none;
}
.header .container-title h1 {
    color: #ffffff !important;
    font-size: 14px !important;
    position: absolute !important;
    left: 15% !important;
}
.sidebar #menu{
    display: flex !important;
    margin-bottom:0rem !important;
}
.sidebar #menu > li > a {
    color: #fff;
    font-size: 14px;
    padding: 13px 12px !important;
    /*margin-right: 0.4rem;*/
}
.sidebar #menu > li > a:hover {
    color:orange;
    background:#000;
}
.admin-container-fluid>.sidebar {
    width: 100%;
    height: 50px !important;
    min-height: auto !important;
    display: flex;
    background-color: #232324;
}
.sidebar #menu > li > a{
    border: 0;
    padding-left: 5px;
    padding-right: 10px;
}
.sidebar #menu > li > a .caret{
    position: absolute;
    right: 0;
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.admin-container-fluid>.main-content{
    padding-left:0rem !important;
}
.sidebar #menu > li > a + .dropdown-menu{
    margin-top: -2.5rem;
    background: rgb(62,62,62);
}
.sidebar #menu > li > a + .dropdown-menu > li > a{
    color:rgb(255, 146, 0);
}
.sidebar #menu > li > a + .dropdown-menu > li > a:hover{
    color:rgb(255, 146, 0);
}
.sidebar #menu .dropdown-menu>li>a:active,.sidebar #menu .dropdown-menu>li>a:hover,.sidebar #menu > li > a + .dropdown-menu > li > a:hover{
    background: #000;
    color: rgb(255, 146, 0);
}
.sidebar #menu > li > a:focus,[data-toggle="dropdown"]:hover{
    background:#000 !important;
    color:rgb(255, 146, 0);
}
.sidebar #menu .nav-hover{
    background:#000 !important;
}
.sidebar #menu .dropdown-menu>li>a{
    background:rgb(62,62,62);
    color: rgb(255, 146, 0);
}
.header .search input{
    background: transparent;
}
.com_publisher  #js-cpanel .sidebar {
margin-top: 0.3rem;
}
 .com_guru #js-cpanel .sidebar {
margin-top: 0.9rem;
}
/*community page css start*/
.com_community #js-cpanel .page-content ,.com_community .container-fluid{
    background: rgb(62,62,62) !important;
    
}
.com_community #js-cpanel .page-content .page-header:first-child h1{
    color: #ffff;
}
 .com_community #js-cpanel .widget-header-flat,.com_community #js-cpanel .widget-body .table.table-bordered thead:first-child > tr,.com_community #js-cpanel .sidebar,.com_community #js-cpanel .nav-list > li > a ,.com_community #js-cpanel .nav-list > li .submenu,.com_community #js-cpanel .sidebar-collapse ,.com_community #js-cpanel .sidebar-collapse > [class*="icon-"]{
    background: linear-gradient(
180deg
, rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%) !important;
    
}
 .com_community #js-cpanel .widget-toolbar > .btn-minier{
         margin-bottom: 2px!important;
 } 
 .com_community  #js-cpanel .widget-header > :first-child, .com_community #js-cpanel .sidebar-collapse:before,.com_community #js-cpanel .widget-tabs li a,.com_community #js-cpanel .widget-toolbar > .nav-tabs > li:not(.active) > a{
     color:#fff;
 }
  .com_community #js-cpanel .nav-list > li{
      border-bottom: 1px solid rgb(62,62,62);
  }
  .com_community .js-icon-double-angle-right{
      display:none !important;
      opacity:0 !important;
  }
 .com_community #js-cpanel .widget-tabs li.active > a{
     color: #576373 !important;
 }
 .com_community #js-cpanel .widget-box .center.cta-full a ,.com_community #js-cpanel .widget-toolbar > .btn-minier{
    color: rgb(255, 146, 0);
    background: rgb(78, 78, 78) !important;
    transition:all 0.3s;
    border:none; 
 }
.com_community #js-cpanel .infobox-blue.infobox-dark,.com_community #js-cpanel .infobox-green.infobox-dark,.com_community #js-cpanel .infobox-orange.infobox-dark,.com_community #js-cpanel .infobox-red.infobox-dark{
    background:linear-gradient(180deg, rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%);;
}
 .com_community #js-cpanel .widget-box .center.cta-full a:hover{
     color:rgb(0, 110, 222) !important;
     background: #BBBBBB !important;
 }
 #js-cpanel .sidebar-collapse:before{
     border-top:1px solid #fff !important;
 }
 .com_community .media-body .media-heading a{
     color:rgb(255, 146, 0) !important;
 }
  .com_community .media-body .media-heading a:hover{
     color:#3071a9 !important;
 }
.com_community #js-cpanel .infobox-blue.infobox-dark,.com_community #js-cpanel .infobox-green.infobox-dark,.com_community #js-cpanel .infobox-orange.infobox-dark,.com_community #js-cpanel .infobox-red.infobox-dark{
     box-shadow: 4px 8px 14px rgb(0,0,0,1);
 }
 /*custom css for guru and publisher pro*/
 #js-cpanel .main-content,#js-cpanel .page-content,.row-fluid [class*=span].span12{
     background: rgb(62,62,62) !important;
 }
 #js-cpanel .sidebar{
     background: linear-gradient( 
180deg
 , rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%) !important;
 }
 #js-cpanel .infobox-blue.infobox-dark,#js-cpanel .infobox-green.infobox-dark,#js-cpanel .infobox-orange.infobox-dark,#js-cpanel .infobox-red.infobox-dark,#js-cpanel .infobox-pink.infobox-dark{
     background: linear-gradient(
180deg
, rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%);
 box-shadow: 4px 8px 14px rgb(0,0,0,1);
 }
 #js-cpanel .g_header_table {
    color: #fff;
    background: rgb(255, 146, 0);
}
#js-cpanel h2{
    color:#fff;
}
 #js-cpanel .nav-list > li > a,#js-cpanel .nav-list > li .submenu,#js-cpanel .sidebar-collapse,#js-cpanel .sidebar-collapse>[class*="icon-"]{
     background: linear-gradient( 
180deg
 , rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%) !important;
 }
 #js-cpanel .nav-list>li{
     border-bottom: 1px solid rgb(62,62,62);
 }
 #js-cpanel .nav-list>li .submenu>li a>[class*="icon-"]:first-child{
     opacity:0;
 }
 .com_publisher .table  a ,.com_community #js-cpanel .itemdiv > .body > .name a,.com_community #js-cpanel .itemdiv.dialogdiv > .body > .text a,.com_community #js-cpanel .green{
    color: rgb(255, 146, 0) !important;}
    .com_publisher .table   a:hover,.com_community #js-cpanel .itemdiv > .body > .name a:hover{
        color:rgb(0, 110, 222) !important;
    }
    .com_publisher .demo-container{
        height: 470px;
    padding: 20px 4px 47px 4px;
    }
    .main-content {padding-top:0px !important;
    }
    .com_publisher div.well {
    background-color: rgb(78, 78, 78) !important;
    border-color: rgb(255, 146, 0) !important;
    color: rgb(255, 146, 0) !important;
    box-shadow: 5px 8px 17px rgb(0 0 0);
    }
     .com_publisher .alert-success h4{
        color: rgb(255, 146, 0) !important; 
     }
    .com_guru div.container-fluid{
         background:rgb(62,62,62) !important;
     }
     /*JSitemap PRO css start*/
 .com_jmap #toolbar.btn-toolbar{
      margin-top: 2.9rem;   
 }
 .com_jmap #toolbar.btn-toolbar .btn {
    color: rgb(255, 146, 0);
    background: rgb(78, 78, 78);
    transition:all 0.3s;
 }
  .com_jmap #toolbar.btn-toolbar .btn:hover,.com_jmap .nav-pills>li.active>a:hover,.com_jmap .single_container label.label:hover{
      color:rgb(0, 110, 222);
      background:#BBBBBB !important;
  }
 .com_jmap  div.accordion-toggle.noaccordion ,.com_jmap .accordion-toggle{
     background: linear-gradient(180deg, rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%); 
  }
 .com_jmap  #accordion_cpanel_icons .panel-heading span{
          color: #ffff;
  }
  .com_jmap .panel-default .panel-heading.noaccordion h4,.com_jmap .panel-default .panel-heading h4{
      color:#fff;
  }
  .com_jmap #accordion_cpanel_icons div.icon span,.nav-pills>.active>a>.badge,.com_jmap div#accordion_cpanel_seo input.sitemap_links,.com_jmap ul.subdescription_stats li,.com_jmap ul.subdescription_stats.semrush_popovers li:not(.clickable) {
      color:rgb(255, 146, 0);
  }
  .com_jmap .nav-pills>li.active>a,.single_container label.label{
    color: rgb(255, 146, 0);
    background-color: rgb(78, 78, 78) !important ;
    transition:all 0.3s;
    cursor:pointer;
  }
  .com_jmap .header .search #search-searchword{
     padding: 0 10px;
  }
/*com_admintools start*/
  .com_admintools #toolbar.btn-toolbar{
      margin-top: 3rem;
  }
 .com_admintools  #toolbar.btn-toolbar .btn,.com_admintools .akeeba-renderer-fef a[class*=akeeba-btn][class*=small]{
      color:rgb(255, 146, 0) !important;
      background:rgb(78, 78, 78);
      transition:all 0.3s;
      border:none;
  }
  .com_admintools  #toolbar.btn-toolbar .btn:hover,.com_admintools .akeeba-renderer-fef a[class*=akeeba-btn][class*=small]:hover{
      color:rgb(0, 110, 222)!important;
      background:#BBBBBB !important; 
  }
 .com_admintools .akeeba-renderer-fef [class*=akeeba-panel][class*=primary] header,.com_admintools .akeeba-renderer-fef [class*=akeeba-panel][class*=default] header{
      background: linear-gradient(180deg, rgba(242,166,41,1) 0%, rgba(232,93,4,1) 79%);
      color:#fff;
  }
  .com_admintools .akeeba-renderer-fef [class*=akeeba-panel] .akeeba-block-header h3:last-child{
      color:#fff;
  }
   .com_admintools .akeeba-renderer-fef a{
      color: rgb(255, 146, 0) !important;  
   }
   .com_admintools .akeeba-renderer-fef a:hover{
       color:rgb(0, 110, 222)!important;
   }
 .com_admintools .akeeba-renderer-fef a[class*=akeeba-action]{
      color: rgb(255, 146, 0) !important;
      background: rgb(78, 78, 78);
      transition:all 0.3s;
  }
  .com_admintools .akeeba-renderer-fef a[class*=akeeba-action]:hover{
      background:#BBBBBB !important;
      color:rgb(0, 110, 222)!important;
  }
  .com_admintools .akeeba-renderer-fef a[class*=akeeba-action][class*=red] span[class*=akion],.com_admintools .akeeba-renderer-fef a[class*=akeeba-action][class*=orange] span[class*=akion],.com_admintools .akeeba-renderer-fef a[class*=akeeba-action][class*=teal] span[class*=akion]{
      background: rgb(78, 78, 78);
  }
  .com_admintools .akeeba-renderer-fef [class*=akeeba-block][class*=info] {
    border: 1px solid rgb(255, 146, 0);
    border-radius: .25rem;
    background: rgb(78, 78, 78);
}
.com_admintools #disclaimer h3,.com_admintools #disclaimer p,.com_admintools  .akeeba-renderer-fef [class*=akeeba-block][class*=info]:before{
    color:rgb(255, 146, 0) !important;
}
/*Advanced Search Manager For AppzerShop start*/
.com_ashs .subhead{
    margin-top:3.2rem;
}
.com_ashs #content .sidebar-nav #submenu>li.active>a{
    margin-top: 2.5rem;
    /*margin-left: -13.6rem;*/
    background-color: rgb(78, 78, 78);
    color: rgb(255, 146, 0);
}
.com_ashs #content .sidebar-nav #submenu>li.active>a:hover,#content .sidebar-nav #submenu>li>a:hover{
    color:rgb(0, 110, 222);
      background:#BBBBBB !important;
}
.com_ashs .nav-tabs>.active>a{
    color: rgb(255, 146, 0);
    background-color:#fff;
}
.com_ashs button.btn{
    color: rgb(255, 146, 0);
    background:#fff;
}
.com_ashs .nav-tabs>li>a,.com_ashs label,.com_ashs .alert,.com_ashs .table thead:first-child tr:first-child th{
    color: rgb(255, 146, 0);
}

/*com_affiliatetracker  start css*/
.com_affiliatetracker .container-fluid{
    padding-left:0px;
    padding-right:0px;
}
.com_affiliatetracker #toolbar.btn-toolbar {
    margin: 18px 0;
    padding: 18px 20px;
    margin-top: 7rem;
}
.com_affiliatetracker #content .sidebar-nav {
    background-color: transparent;
    padding-right: 18px;
    top: 111px;
    left: 0;
}
.com_affiliatetracker #content .sidebar-nav #submenu>li>a {
    background-color:transparent ;
    color: rgb(255, 146, 0);}
.com_affiliatetracker #content .sidebar-nav #submenu>li.active>a{
    background-color: #fff !important;
}